*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 30px;
}

.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color:#9B6CFF;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
nav{
    display:flex;
    justify-content: space-between;

}

.logo{
    width:30px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius:50px;
}
.h6{
    color: rgb(0, 0, 0) ;
    font-size: 0.8rem;
    padding-top: 20px;
    padding-right: 40px;
}
.child1 p{
    font: 0.6em sans-serif;
    color: antiquewhite;
}
.child2 p{
    font: 0.6em sans-serif;
    color: antiquewhite;
}
.child3 p{
    font: 0.6em sans-serif;
    color: rgb(0, 0, 0);
}
.child4 p{
    font: 0.6em sans-serif;
    color: rgb(0, 0, 0);
}
.child5 p{
    font: 0.6em sans-serif;
    color: antiquewhite;
}
.child1 h6{
    padding-right: 240px;
    color:white;
}.child5 h6{
    padding-right: 240px;
    color: white;
}
.child1 h4{
    color: white;
}.child5 h4{
    color: white;
}
.child2 h4{
    color: white;
}
.child1 h5{
    color: whitesmoke;
}.child5 h5{
    color: whitesmoke;
}
.child2 h5{
    color: whitesmoke;
}
.h4{
    padding: 10px 20px 0px;

    text-align: center;
}
.h5{
    padding: 8px 25px 10px;
    text-align: center;
    color: rgb(75, 70, 70);
}

.child2{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: gray;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}.child2 h6{
    color: white;
}
.child3{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color:whitesmoke;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}

.child4{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: wheat;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.child5{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color:rgb(23, 21, 21);
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}

@media screen and (max-width:700px){
    /* stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }


}