
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.head{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: red;
    padding:0px 0px 100px;
}
img{
    padding: 40px;
    margin-right: 100px;
    align-content: space-between;
    border-radius: 260px;

}
nav{
    height: 200px;
    text-align:left;
}
h4{
    padding: 10px 50px 10px;
    background-color: white;
    color:red;
}
h1{
    margin-top: 50px;
    padding: 50px 10px 10px 50px;
    color: white;
}
p{
    margin-top: 25px;
    padding-inline: 50px;
    color: white;
}

.info-section {
    display: flex;
    background: #1a0f0f;
    
}

.card {
    flex: 1;
    padding: 50px 40px 250px;
    color: white;
    background: #2a0f0f;
    border: red solid 3px;
}


.card h3 {
    padding: 0px 50px 0px;

    font-size: 18px;
}

.card p {
    color: white;
}
